# Node
**/node_modules/
**/.pnpm-store/
**/.pnpm-workspace-state-v1.json
**/.modules.yaml

# Logs
logs/
*.log
*.log.*
pids/
*.pid
*.seed
*.pid.lock

# Runtime data
dist/
build/
temp/
tmp/

# VS Code
.vscode/
.history/

# Visual Studio
.vs/

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# MongoDB (si creas dumps o archivos locales)
dump/
*.bson

# IDE / Editor
.idea/

# Others
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# .NET bin/obj folders
**/bin/
**/obj/

# Keys y archivos sensibles
**/keys/